{% extends "base.html" %}

{% block main %}
  
<div class = "page">
    <div class = "top-bar">
        <span class="home-title">Meal Planner and Recipe System | Change Availability</span>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('logout') }}"><button class="home-button" >Logout</button></a>
        {% else %}
            <a href="{{ url_for('login') }}"><button class="home-button" >Login</button></a>
        {% endif %}
        
        <a href="{{ url_for('addRecipe') }}"><button class="home-button" >Add Recipe</button></a>
            
        <a href="{{ url_for('addMeal') }}"><button class="home-button" >Add Meal</button></a>
        
        <a href="{{ url_for('homepage') }}"><button class="home-button" >Home Page</button></a>
            
    </div>
    
    <div class = "body">
        <label class = "fields">Change Ingredient Status</label><br>
        <button id = "available" type="submit" name="submit">Available</button>
        <button id = "unavailable" type = "submit" name = "submit">Unavailable</button><br><br><br>
        
        <div id = "statusNotice">
            Changed successfully/unsuccessfully
        </div>
    </div>

</div>

{% endblock %}
        